.skilimges{
    width: 100px;
    

}
.skilmaindiv{
    background-color: rgba(228, 227, 233, 0.976);
    color: rgb(0, 0, 0);
    /* background-image: url('../images/bgimg.png'); */
    min-height: 92vh;

}
.skilmaindiv h2{
    color: rgb(0, 0, 0);
}
.skildiv{
    position: relative;
    z-index: 15;

    color: rgb(0, 0, 0)    ;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 40px;
}